#root {
    background-color: #F5F8FF;
}

body {
    margin: 0;
    padding: 0;
}

.app-main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.app-main-left-container {
    width: 25%;
    padding: 0 1rem;
}

.app-main-right-container {
    width: 75%;
    padding: 0 4rem;
}